* {
  margin: 0;

  padding: 0;

  font-family: "Roboto";

  box-sizing: border-box;

  font-size: 10px;
}

body {
  background: #fff;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #262626;
}

a {
  color: #000;

  text-decoration: none;

  text-transform: capitalize;

  transition: 0.4s ease-in-out;
}
a:hover {
  color: #fff;

  text-decoration: none;
}

hr {
  background: #ff0000;
}
/************** Header Styling Start **************/
header hr {
  background: rgba(172, 172, 172, 0.5);
}
/* Header-top */
header .header-top a {
  font-size: 1.4rem;
}
header .header-top a:hover {
  color: #000;
  opacity: 0.7;
}
header .header-top a i {
  font-size: 1.4rem;
}

header .top-left {
  display: inline-block;
  margin: 10px 0 0 10px;
}
header .top-left a i {
  margin-right: 8px;
}
header .top-right a i {
  margin-left: 8px;
}
header .top-right {
  float: right;
  display: inline-block;
  margin: 10px 10px 0px 0;
}
/* Header-nav & Logo */
nav {
  position: relative;
  margin-top: 80px;
}
.main-logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  /* height: 150px; */
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  /* z-index: 99999; */
  /* border: 1px solid red; */
}
.main-logo img {
  max-width: 100%;
}
#megamneu {
  margin: 0 20px;
}
.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .navbar-toggler {
    float: left;
    border: none !important;
    outline: none !important;
  }
  .navbar-toggler-icon {
    color: #000 !important;
  }
  nav {
    position: relative;
    margin-top: 0px;
  }
  .navbar-brand {
    max-width: 85px;
    /* border: 1px solid red; */
  }
  .navbar-brand img {
    max-width: 100%;
  }
}
/************** Header Styling End **************/

/************** Slider Styling Start **************/
.carousel {
  height: auto;
  overflow: hidden;
}
.carousel-item {
  position: relative;
  height: auto;
}
.carousel-caption {
  position: absolute;
}
/* caption-1 */
.caption-1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.caption-1 h2 {
  font-size: 3.5rem;
  color: #fff;
}
.caption-1 p {
  font-size: 2rem;
}
.caption-1 a {
  border-radius: 0;
  padding: 1rem 1.6rem;
  font-size: 1.6rem;
  background: #000;
  color: #fff;
}
.caption-1 a:hover {
  color: #ff0000;
}
@media screen and (max-width: 769px) {
  .carousel {
    float: left;
    height: 100%;
  }
  .carousel-item {
    height: 100%;
  }
  .caption-1 {
    top: 20%;
  }
  .caption-1 h2 {
    font-size: 1.5rem;
    color: #fff;
  }
  .caption-1 p {
    font-size: 1rem;
  }
  .caption-1 a {
    font-size: 1.2rem;
  }
}
/************** Slider Styling End **************/

/************** Category Styling Start **************/
.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 10px auto;
  overflow: hidden;
  /* border: 1px solid red; */
}
.category-item {
  position: relative;
  overflow: hidden;
}
.category-item img {
  max-width: 100%;
  transition: 0.4s all ease-in;
}
.category-item-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: 0.4s opacity ease-in;
}
.category-item-info:hover {
  opacity: 1;
}
.category-item:hover img {
  transform: scale(1.1);
}

@media screen and (max-width: 769px) {
  .category {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }
}
/************** Category Styling End **************/

/************** Product Slider Styling Start **************/
.product-slider {
  position: relative;
}

.product-slider hr {
  background: rgba(172, 172, 172, 0.5);
  width: 10%;
  margin: 0 auto;
}

.product-slider .next {
  position: absolute;
  top: 50%;
  right: 10px;
  background: #ff0000;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  animation: next 1.1s ease-in-out infinite;
}

@keyframes next {
  100% {
    -webkit-transform: translateX(7px);

    transform: translateX(7px);
  }
}

.product-slider .prev {
  position: absolute;
  top: 50%;
  left: 10px;
  background: #ff0000;
  font-size: 2rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  animation: prev 1.1s ease-in-out infinite;
}

@keyframes prev {
  100% {
    -webkit-transform: translateX(-7px);

    transform: translateX(-7px);
  }
}

.product-slider .product-wrapper {
  overflow: hidden;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 10px 0;
}

.product-slider .product-wrapper .product {
  max-width: 100%;
  height: auto;
  display: inline-block;
  background: transparent;
}

.product-slider .product-wrapper .product img {
  max-width: 150px;
  height: 200px;
  margin: 0 auto;
}

.product-slider .product-wrapper .product .product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto;
  justify-content: center;
  max-width: 250px;
}

.product-slider .product-wrapper .product .product-info a.btn {
  background: #ff0000;
  color: #fff;
}

@media screen and (max-width: 480px) {
  .product-slider hr {
    background: rgba(172, 172, 172, 0.5);
    width: 50%;
    margin: 0 auto;
  }

  .product-slider .next,
  .product-slider .prev {
    font-size: 1rem;
    width: 30px;
    height: 30px;
    z-index: 1;
  }

  .product-slider .next {
    right: 5px;
  }

  .product-slider .prev {
    left: 5px;
  }
}
/************** Product Slider Styling End **************/

/************** Login page Styling Start **************/
#login-page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#login-page label {
  font-weight: bold;
}

#login-page .btn {
  width: 100%;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border-radius: 0;
}
@media screen and (min-width: 800px) {
  #login-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20%;
  }

  #login-page input {
    width: 100%;
    height: 50px;
    border: 1px solid #f0f0f0;
    border-radius: 0;
    font-size: 1.3rem;
  }
  #login-page h4 {
    margin-bottom: 30px;
  }
  #login-page section {
    margin: 0 auto;
  }
  #login-page h4 {
    font-size: 2.5rem;
  }
  #login-page .login,
  #login-page .register {
    width: 100%;
  }
  #login-page label {
    font-weight: bold;
    font-size: 1.6rem;
  }
  #login-page .btn {
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
  }
}
/************** Login page Styling End **************/

/************** Footer Styling Start **************/
footer a {
  color: #262626;
}
.footer-contact {
  position: relative;
}
.footer-contact i {
  position: absolute;
  top: 2px;
}
.footer-contact a {
  display: block;
  margin-left: 20px;
}
.footer-content h6 {
  font-size: 1.6rem;
}
.footer-content p {
  font-size: 1.2rem;
}
.footer-content a {
  font-size: 1.2rem;
}
.footer-content a:hover {
  color: #ff0000;
}
/************** Footer Styling End **************/
